#< for(var mixin in _.mixins) { >
${mixin.decl};
#< } >
#< for(var constant in _.constants) { >
${chomp(constant.define())}
#< } >
#< for(var alias in _.aliases) { >
${alias.decl};
#< } >
#< for(var e in _.enums) { >
${e.define()}
#< } >
#< for(var struct in _.structs) { >
${struct.define()}
#< } >
#< for(var union in _.unions) { >
${union.define()}
#< } >
#< for(var t in _.templates) { >
template(${t.id})
#< } >
#< for(var codeBlock in _.codeBlocks) { >
${chomp(codeBlock.code)}
#< } >
#< for(var member in _.members) { >
${member.decl};
#< } >
