#< if(null != _.doc) { >
${blockComment(_.doc)}
#< } >
struct ${_.templateName} {
#< if(null != _.ctor) { >
${indentBlock(_.ctor.define(_.ctorCustomBlock))}
#< } >
${chomp(indentBlock(_.decls()))}
#< if(_.unitTest) { >
  unittest {
${indentBlock(chomp(customBlock("unittest ${_.name}")))}
  }
#< } >
}
#< if(_.namedUnitTest && !_.unitTest) { >

@UT("${_.name}") unittest {
${indentBlock(chomp(customBlock("unittest ${_.name}")))}
}
#< } >
